{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="../KuST/AbSt.css">

<div class="Bodyo">
    <h1> About</h1>
    <div class="Cont">
        <p>
            Hi i am Zer0Known i am programmer, i made this website to make 
            the world better place & to helpe people to understand more & more
            & this website is my code i wrote every code on it & i hope that
            you will find what you are looking for, after while i think there
            will be tutorials about Python, HTML+CSS, Flask (Python web 
            programming framework), Network programming(with Python), and some
            usefull topics about Cyber Security and 'how to ..' topicsand many
            things. and with your support we  will be able to grow this website
            faster by share this website and the topics inside it, god be with you .
        </p>

    </div>
</div>

{% endblock content %}