{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="../KuST/CoSt.css">

<div class="Face">
        <p> Youtube</p>
    <div class="Cont">
        <p> Email : </p>
        <p> Name  : </p>
        <p> Phone : </p>
    </div>
</div>
<div class="Face">
        <p> Facebook</p>
    <div class="Cont">
        <p> Email : </p>
        <p> Name  : </p>
        <p> Phone : </p>
    </div>
</div>
<div class="Face">
        <p> Instagram</p>
    <div class="Cont">
        <p> Email : </p>
        <p> Name  : </p>
        <p> Phone : </p>
    </div>
</div>
<div class="Face">
        <p> twitter</p>
    <div class="Cont">
        <p> Email : </p>
        <p> Name  : </p>
        <p> Phone : </p>
    </div>
</div>
<div class="Face">
        <p> Telegram</p>
    <div class="Cont">
        <p> Email : </p>
        <p> Name  : </p>
        <p> Phone : </p>
    </div>
</div>
<div class="Face">
        <p> Gmail</p>
    <div class="Cont">
        <p> Email : </p>
        <p> Name  : </p>
        <p> Phone : </p>
    </div>
</div>

<div class="Face">
        <p> Viber</p>
    <div class="Cont">
        <p> Phone : </p>
    </div>
</div>
{% endblock content %}

